<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Word</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>
  <div id="app">
    <h1>{{message}}</h1>
    <p>{{message}}</p>
  </div>

  <div id="app2">
    <p>{{message}}</p>
  </div>

</body>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      message: "Hello Word"
    }

  })

  var app2 = new Vue({
    el: "#app2",
    data: {
      message: "1234"
    }

  })
</script>

</html>
